CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.deps
config.log
config.status
src/dawgdic-build
src/dawgdic-build.o
src/dawgdic-find
src/dawgdic-find.o
test/dawg-builder-test
test/dawg-builder-test.o
test/ranked-completer-test
test/ranked-completer-test.o
*.cache
